<section class="aboutus" id="aboutus">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2 class="text-center" style="padding-bottom:19px; padding-top:48px; margin-bottom:0px;">ABOUT US</h2>
                <p id="line2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit consequuntur consectetur repellat ipsa officia magnam tempore harum suscipit, expedita dolore sed laboriosam eaque reiciendis dolorem modi illo eos. Amet, est. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita facere ipsam iusto quo nobis odit cupiditate molestias, quis neque voluptate, ratione nostrum, delectus ab fuga sequi a dolorem alias quos! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, in. Est iure voluptates dicta sed veniam fuga accusantium magnam, exercitationem, tenetur placeat ad voluptatum esse sit, delectus ipsum quibusdam quod.</p>
                <div class="col-md-4">
                    <a href="#">
                        <span class="text"><h3>Lorem Ipsum</h3>Lorem ipsum dolor sit amet, consectetu sequi adipisicing elit. Expedita mollitia molestiae sunt sequi</span>
                        <img src="media/pic1.png" alt="">
</a>
                    <p style="margin-top:20px;">Lorem ipsum dolor sit amet, consecur adipisicing elit. Magni nemo, voluptatum, nostrum sunt exercitationem minus aliquam asperiores consequuntur ut atque voluptates reiciendis rerum debitis! Aut deserunt quaerat, aspernatur mollitia et?</p>
                </div>
                <div class="col-md-4">
                    <a href="#">
                        <span class="text"><h3>Lorem Ipsum</h3>Lorem ipsum dolor sit amet, consectetur sequi adipisicing elit. Expedita mollitia molestiae sunt sequi</span>
                        <img src="media/pic2.png" alt="">
                    </a>
                    <p style="margin-top:20px;">Lorem ipsum dolor sit amet, consecur adipisicing elit. Magni nemo, voluptatum, nostrum sunt exercitationem minus aliquam asperiores consequuntur ut atque voluptates reiciendis rerum debitis! Aut deserunt quaerat, aspernatur mollitia et?</p>
                </div>
                <div class="col-md-4">
                    <a href="#">
                        <span class="text"><h3>Lorem Ipsum</h3>Lorem ipsum dolor sit amet, consectetur sequi adipisicing elit. Expedita mollitia molestiae sunt sequi</span>
                        <img src="media/pic3.png" alt="">
                    </a>
                    <p style="margin-top:20px;">Lorem ipsum dolor sit amet, consecur adipisicing elit. Magni nemo, voluptatum, nostrum sunt exercitationem minus aliquam asperiores consequuntur ut atque voluptates reiciendis rerum debitis! Aut deserunt quaerat, aspernatur mollitia et?</p>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 social">
                <ul class="list-inline social" id="hover">
                    <li><img class="img-responsive" src="media/facebook56.png" onmouseover="this.src = 'media/facebook_blue.png'" onmouseout="this.src = 'media/facebook56.png'" alt="">
                    </li>
                    <li><img class="img-responsive" src="media/social%20network76.png" onmouseover="this.src = 'media/linkedin_blue.png'" onmouseout="this.src = 'media/social%20network76.png'" alt="" alt="">
                    </li>
                    <li><img class="img-responsive" src="media/twitter47.png" onmouseover="this.src = 'media/twitter_blue.png'" onmouseout="this.src = 'media/twitter47.png'" alt="">
                    </li>
                    <li><img class="img-responsive" src="media/instagram16.png" onmouseover="this.src = 'media/insta_color.png'" onmouseout="this.src = 'media/instagram16.png'" alt="">
                    </li>
                    <li><img class="img-responsive" src="media/google2.png" onmouseover="this.src = 'media/google_red.png'" onmouseout="this.src = 'media/google2.png'" alt=""></li>
                    <li><img class="img-responsive" src="media/pinterest33.png" onmouseover="this.src = 'media/pinterest_red.png'" onmouseout="this.src = 'media/pinterest33.png'" alt="">
                    </li>
                </ul>
            </div>
            <div class="col-md-3"></div>
        </div>
</section>