<section class="partner" id="customers">
    <div class="container-fluid">
        <h2 class="text-center" style="color:white; padding-top:48px; margin-bottom:60px;">OUR CUSTOMERS</h2>
        <div class="col-md-2"></div>
        <div id="carousel-demo1" class="col-md-8">
            <ul class="list-inline">
                <li><img class="dell" src="/media/dell.png" alt=""></li>
                <li><img class="amazon" src="/media/amazon.png" alt=""></li>
                <li><img class="wal" src="/media/walm.png" alt=""></li>
                <li><img class="dell" src="/media/vodafone.png" alt=""></li>
                <li><img class="epson" src="/media/epson.png" alt=""></li>
                <li><img class="sony" src="/media/sony.png" alt=""></li>
                <li><img class="fedex" src="/media/fedex.png" alt=""></li>
                <li><img class="neox" src="/media/neox.png" alt=""></li>
            </ul>
        </div>
        <div class="col-md-2"></div>
    </div>
</section>