<footer>
        <div class="center-block">   
            <h3 class="text-center">Lorem Ipsum</h3>
            <img class="center-block " src="media/logo.png" alt="logo">
            <div class="container ">
             <div class="col-md-2"></div>
              <div class="col-md-8 footerDiv">
               <nav class="nav-footer">
                <ul class="pull-right">
                    <li><a href="#">Home</a></li>
                    <li><a href="#presentation">Introdution</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#portfolio">PortFolio</a></li>
                    <li><a href="#technologies">Technologies</a></li>
                    <li><a href="#aboutus">About Us</a></li>
                    <li><a href="#customers">Customers</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                    <li><a href="#location">Location</a></li>
                </ul>
                </nav>
                <div class="col-md-4"><p style="margin-top:10px; color:white; font-size:8pt;">Copyright © 2015. All Rights Reserved. 
Lorem Ipsum is a company registered in England with registration number 112211.</p></div>
            </div>
            </div>
        </div>
</footer>