<section class="container contactus">
    <h2 class="text-center">CONTACT US</h2>
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">NAME : * <span style="font-style:italic; font-size:8pt">(required)</span></label>
                <div class="col-md-10">
                    <input type="email" class="form-control" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">PHONE : * <span style="font-style:italic; font-size:8pt">(required)</span></label>
                <div class="col-md-10">
                    <input type="phone" class="form-control" placeholder="Phone">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">EMAIL : * <span style="font-style:italic; font-size:8pt">(required)</span></label>
                <div class="col-md-10">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-md-6">
                    <button type="submit" class="signin btn btn-default">SIGN IN</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <label class="col-md-8 control-label" style="padding-left:0px;">YOUR COMMENT : * <span>(required)</span></label>
        <textarea class="form-control" placeholder="Your Comment" rows="6">                   </textarea>
    </div>
</section>