<nav class="navbar navbar-inverse">
       <a class="navbar-brand" href="#">Admin Setting</a>
        <ul class="nav navbar-nav pull-right"> 
            <li><a href="#">Header</a></li>
            <li><a href="#">Navigation</a></li>
            <li><a href="#">Our Skills</a></li>
            <li><a href="#">Presentation</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Slider</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Carousel</a></li>
            <li><a href="#">Our Data</a></li>
            <li><a href="#">Our Location</a></li>
            <li><a href="#">Footer</a></li>
        </ul>
        </nav>