  <header>
    <nav class="personal navbar navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand pull-left " href="index.html"><img src="media/logo.png" alt="logo"></a>
            </div>

            <div class="collapse navbar-collapse ">
                <ul id="nave" class="nav navbar-nav center" >
                    <li><a href="#">Home</a></li>
                    <li><a href="#presentation">Introdution</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#portfolio">PortFolio</a></li>
                    <li><a href="#technologies">Technologies</a></li>
                    <li><a href="#aboutus">About Us</a></li>
                    <li><a href="#customers">Customers</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                    <li><a href="#location">Location</a></li>
              </ul>
            </div>
        </nav>
    <video width="560" height="315" autoplay preload muted loop>
      <source src="/media/videomov.mov"/>
    </video>
    <div id="foo">
      <p id="preText">Lorem ipsum dolor sit amet</p>
       <p id="titlePage">
LOREM IPSUM       
       </p>
       <p id="resume">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>       
    </div>

    
     
    


<!--
  	  <div class="phoenix-feather">
  	    <img src="media/div3.jpg" alt="media1" />
        <div class="transparent">
          <h2>Lorem ipsum dolor sit amet1</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
  	  </div>
      <div class="phoenix-feather">
        <img src="/media/div3-1.jpg" alt="media2" />
        <div class="transparent">
          <h2>Lorem ipsum dolor sit amet2</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
      <div class="phoenix-feather">
        <img src="/media/div3-2.jpg" alt="media3" />
        <div class="transparent">
          <h2>Lorem ipsum dolor sit amet3</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
-->
  </header>
