<nav class="personal navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand pull-left " href="index.html"><img src="media/logo.png" alt="logo"></a>
        </div>

        <div class="collapse navbar-collapse ">
            <ul class="nav navbar-nav center">
                <li><a href="index.html">Home</a></li>
                <li><a href="#about">Option 1</a></li>
                <li><a href="#contact">Option 2</a></li>
                <li><a href="#contact">Option 3</a></li>
                <li><a href="#contact">Option 3</a></li>
                <li><a href="#contact">Option 4</a></li>
                <li><a href="#contact">Option 5</a></li>
            </ul>
        </div>
    </nav>