    <section class="row address" id="contact"> 
        <h2 class="text-center" style="margin:68px 0;">I'D LOVE TO HEAR FROM YOU</h2>
        <div class="col-md-3"></div>
        <div class="col-md-2">
           <a style="text-decoration:none; color:#1a3473;" href="https://www.google.co.uk/maps/@40.6352687,-73.8602378,10z"><img class="img-responsive center-block" src="media/location73.png" alt=""></a>
            <a style="text-decoration:none; color:#1a3473;" href="https://www.google.co.uk/maps/@40.6352687,-73.8602378,10z"><p class="text-center" style="margin-top: 20px; margin-bottom: 50px">123 Lorem ipsum dolor sit amet, United Kingdon</p></a>
        </div>
        <div class="col-md-2"><img class="img-responsive center-block" src="media/smartphone86.png" alt="">
           <p class="text-center" style="margin-top: 20px; margin-bottom: 50px">+44015245879</p></div>
        <div class="col-md-2"><a href="mailto:pedro@solidreturn.co.uk"><img class="img-responsive center-block" src="media/email130.png" alt=""></a>
           <a style="text-decoration:none; color:#1a3473; "href="mailto:pedro@solidreturn.co.uk"><p class="text-center" style="margin-top: 20px; margin-bottom: 50px">pedro@solidreturn.co.uk</p></a></div>
        <div class="col-md-3"></div>
    </section>