    <section class="jumbotron picture-box" id="skills">
        <div class="container">
            <div class="col-md-3 col-sm-3 text-center">
               <div class="circleSkill">
                <h3>LOREM IPSUM</h3>
                <img class="img-responsive img-picture-box" src="media/computer_screen1.png" alt="">
                </div>
                <ul class="ul-picture-box">
                    <li><span><img class="icon-distance" src="media/direction7.png" alt=""></span> Lorem ipsum 1</li>
                    <li><span><img class="icon-distance" src="media/direction7.png" alt=""></span> Lorem ipsum 2</li>
                    <li><span><img class="icon-distance" src="media/direction7.png" alt=""></span> Lorem ipsum 3</li>
                    <li><span><img class="icon-distance" src="media/direction7.png" alt=""></span> Lorem ipsum 4</li>
                    <li><span><img class="icon-distance" src="media/direction7.png" alt=""></span> Lorem ipsum 5</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-3 text-center">
                <h3>LOREM IPSUM</h3>
                <img class="img-responsive img-picture-box" src="media/user36.png" alt="">
                <ul class="ul-picture-box">
                    <li><span><img class="icon-distance" src="media/direction7.png" alt=""></span> Lorem ipsum 1</li>
                    <li><span><img class="icon-distance" src="media/direction7.png" alt=""></span> Lorem ipsum 2</li>
                    <li><span><img class="icon-distance" src="media/direction7.png" alt=""></span> Lorem ipsum 3</li>
                    <li><span><img class="icon-distance" src="media/direction7.png" alt=""></span> Lorem ipsum 4</li>
                    <li><span><img class="icon-distance" src="media/direction7.png" alt=""></span> Lorem ipsum 5</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-3 text-center ">
                <h3>LOREM IPSUM</h3>
                <img class="img-responsive img-picture-box" src="media/write61.png" alt="">
                <ul class="ul-picture-box">
                    <li><span><img class="icon-distance" src="media/direction7.png" alt=""></span> Lorem ipsum 1</li>
                    <li><span><img class="icon-distance" src="media/direction7.png" alt=""></span> Lorem ipsum 2</li>
                    <li><span><img class="icon-distance" src="media/direction7.png" alt=""></span> Lorem ipsum 3</li>
                    <li><span><img class="icon-distance" src="media/direction7.png" alt=""></span> Lorem ipsum 4</li>
                    <li><span><img class="icon-distance" src="media/direction7.png" alt=""></span> Lorem ipsum 5</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-3 text-center" style="margin-bottom:50px;">
                <h3>LOREM IPSUM</h3>
                <img class="img-responsive img-picture-box" src="media/sign20.png" alt="">
                <ul class="ul-picture-box">
                    <li><span><img class="icon-distance" src="media/direction7.png" alt=""></span> Lorem ipsum 1</li>
                    <li><span><img class="icon-distance" src="media/direction7.png" alt=""></span> Lorem ipsum 2</li>
                    <li><span><img class="icon-distance" src="media/direction7.png" alt=""></span> Lorem ipsum 3</li>
                    <li><span><img class="icon-distance" src="media/direction7.png" alt=""></span> Lorem ipsum 4</li>
                    <li><span><img class="icon-distance" src="media/direction7.png" alt=""></span> Lorem ipsum 5</li>
                </ul>
            </div>
        </div>
 </section>