<section class="jumbotron developer" id="portfolio">
    <img id="tuerca" src="media/nut4.png" alt="">
    <img id="tuerca2" src="media/nut4.png" alt="">
    <h2 class="text-center">DEVELOPER DESIGN</h2>
    <div class="row slide">
        <div class="col-md-2"></div>
        <div class="col-md-2 text-left capa">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum In consectetur magna culpa dolor deserunt tempor tempor eu consequat proident nulla.</p>
        </div>
        <div class="col-md-2 text-left capa">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum In consectetur magna culpa dolor deserunt tempor tempor eu consequat proident nulla.</p>
        </div>
        <div class="col-md-2 text-left capa">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum In consectetur magna culpa dolor deserunt tempor tempor eu consequat proident nulla.</p>
        </div>
        <div class="col-md-2 text-left capa">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum In consectetur magna culpa dolor deserunt tempor tempor eu consequat proident nulla.</p>
        </div>
        <div class="col-md-2"></div>

    </div>
    <div class="row slide">
        <div class="col-md-2"></div>
        <div class="col-md-2 text-left capa">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum In consectetur magna culpa dolor deserunt tempor tempor eu consequat proident nulla.</p>
        </div>
        <div class="col-md-2 text-left capa">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum In consectetur magna culpa dolor deserunt tempor tempor eu consequat proident nulla.</p>
        </div>
        <div class="col-md-2 text-left capa">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum In consectetur magna culpa dolor deserunt tempor tempor eu consequat proident nulla.</p>
        </div>
        <div class="col-md-2 text-left capa">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum In consectetur magna culpa dolor deserunt tempor tempor eu consequat proident nulla.</p>
        </div>
        <div class="col-md-2"></div>

    </div>
    <div class="row slide">
        <div class="col-md-2"></div>
        <div class="col-md-2 text-left capa">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum In consectetur magna culpa dolor deserunt tempor tempor eu consequat proident nulla.</p>
        </div>
        <div class="col-md-2 text-left capa">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum In consectetur magna culpa dolor deserunt tempor tempor eu consequat proident nulla.</p>
        </div>
        <div class="col-md-2 text-left capa">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum In consectetur magna culpa dolor deserunt tempor tempor eu consequat proident nulla.</p>
        </div>
        <div class="col-md-2 text-left capa">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum In consectetur magna culpa dolor deserunt tempor tempor eu consequat proident nulla.</p>
        </div>
        <div class="col-md-2"></div>

    </div>
</section>