<section class="jumbotron" id="presentation">
        <h2 class="text-center">LOREM IPSUM</h2>
        <div id="line"></div>
        <p id="jumboparr" >Lorem ipsum Sed consequat dolore veniam elit voluptate eu officia in et Duis cillum magna ut voluptate in sunt elit ullamco reprehenderit fugiat magna ut ut proident occaecat fugiat minim Excepteur sint cillum consectetur proident ut sed aliqua et esse sint esse anim dolore fugiat consequat incididunt commodo proident ad est ex anim enim commodo exercitation nulla aliquip nisi dolor dolore sit </p>
</section>