<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/js/gmaps.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/js/jquery.mobile.touchsupport.js"></script>
<script src="/js/jquery.phoenix.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.bxslider.js"></script>
<script src="/js/jquery.nav.js"></script>
<script src="/js/responsiveslides.min.js"></script>
<script src="/js/scrollingcarousel.2.0.min.js"></script>
<script>
$('a.scroll-top').click(function() {
         $("html, body").animate({scrollTop: 0}, 1500);
         return false;
     });
</script>
<script>
    $(document).ready(function () {
        $('#nava').onePageNav({
    currentClass: 'current',
    changeHash: false,
    scrollSpeed: 100,
    scrollThreshold: 0.5,
    filter: '',
    easing: 'swing',
    begin: function() {
        //I get fired when the animation is starting
    },
    end: function() {
        //I get fired when the animation is ending
    },
    scrollChange: function($currentListItem) {
        //I get fired when you enter a section and I pass the list item of the section
    }
});
    });
</script>
<script>
    $(document).ready(function () {

        $('.phoenix-slider').phoenix({
            fullscreen: true,
            height: '85%'
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#carousel-demo1').scrollingCarousel({
            autoScroll: true,
            autoScrollSpeed: 50000
        });
    });
</script>
<script>
    $(document).ready(function () {
        $(".rslides").responsiveSlides({
            speed: 1500,
            timeout: 5000
        });
    });
</script>
<script>
$(window).scroll(function(){
 var vscroll = $(this).scrollTop();
 	if (vscroll > 5){ 		
        $('.navbar').addClass('blueNav');
 	}
	else{
	$('.navbar').removeClass('blueNav');
 	}
 });
</script>
<script>

    var map = new GMaps({
      el: '#map',
      lat: 51.4576163,
      lng: -0.9478156,
      zoomControl:false,
        mapTypeControl:false,
        mapTypeControl:false,
        scrollwheel:false,
    });
        map.addMarker({
          lat: 51.4576163,
          lng: -0.9478156,
          title: 'SolidReturn',
            icon: "/media/solid_icon.png",
             iconsize: [80, 75],
        });         
  </script>
  
  