<section class="row slider-mark" id="technologies">
        <ul class="rslides">
            <li class="slider">
                <h2 class="text-center" style="margin-top:50px;">Web Development</h2>
                <ul class="slider-brand">
                    <li class="html"><img src="media/html5.png" alt=""></li>
                    <li class="css"><img src="media/css3.png" alt=""></li>
                    <li class="js"><img src="media/javascript.png" alt=""></li>
                    <li class="jq"><img src="media/jQurery.png" alt=""></li>
                </ul>
            </li>
            <li class="slider">
                <h2 class="text-center" style="margin-top:50px;">DataBase Development</h2>
                <ul class="slider-brand">
                    <li class="mysql"><img src="media/mysql.png" alt=""></li>
                    <li class="sql"><img src="media/sqlserver.png" alt=""></li>
                    <li class="mongo"><img src="media/mongodb.png" alt=""></li>
                    <li class="oracle"><img src="media/oracle.png" alt=""></li>
                </ul>
            </li>
            <li class="slider">
                <h2 class="text-center" style="margin-top:50px;">Software Development</h2>
                <ul class="slider-brand">
                    <li class="php"><img src="media/php.png" alt=""></li>
                    <li class="csharp"><img src="media/csharp.png" alt=""></li>
                    <li class="node"><img src="media/nodejs.png" alt=""></li>
                    <li class="java"><img src="media/java.png" alt=""></li>
                </ul>
            </li>
        </ul>
    </section>