<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/headAdmin %>
</head>
<body>
    <header>
       <% include partials/headerAdmin %>
    </header>
    <section>
        <div class="col-md-5 center-block no-float top-space text-left" style="float:none; margin-top:10%;">
            <h1>Login Administrator</h1>
            <form method="post" action="/admin">
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" name="password" placeholder="Administrator Password" class="form-control">
                </div>
                <div class="form-group text-right">
                    <input type="submit" class="btn btn-info" value="Save" style="background:black; color:white; border-color:black;">
                </div>
            </form>
        </div>
    </section>     
</body>
</html>
