<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
  <% include partials/header %>
  <% include partials/presentation %>
  <% include partials/ourskills %>
  <% include partials/portfolio %>
  <% include partials/slider %>
  <% include partials/aboutus %>
  <% include partials/carousel %>
  <% include partials/ourdata %>
  <% include partials/formcontactus %>
  <% include partials/ourlocation %>
  <% include partials/footer %>
  <% include partials/scripts %>
  </body>
</html>
