
html,
body,
header,
nav,
{
    padding: 0px;
    margin: 0px;
}

body, header{
    font-family: 'Roboto', sans-serif !important; background: rgba(25, 50, 112, 0.6);
}

.row,
.jumbotron,
.container {
    width: 100% !important;
}

#{

    bottom: 0;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    position: relative;
    right: 0;
    width: auto;
    background: rgba(60,163,198,0.5) ;
}

video{
    background-size: cover;
    bottom: 0;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    position: relative;
    right: 0;
    width: auto;
    z-index: -100;
}

#foo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


#foo p#titlePage{
    
    font-size: 10rem;
    text-align: center;
    font-weight: 500;
    color: white;
}

#foo p#preText{
    font-size: 5rem;
    text-align: center;
    font-weight: 500;
    color: white; 
}
#foo p#resume{
        font-size: 3rem;
    text-align: center;
    font-weight: 500;
    color: white;
}

.phoenix-slider {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    background: #f5f5f5;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

.phoenix-slider .phoenix-feather {
    background: transparent none scroll no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    display: table;
    width: 100%;
    z-index: 2;
    opacity: 0;
}

.phoenix-slider .reborn {
    z-index: 4;
}
.prueba{background: black;
width: 100%;}

.phoenix-slider .phoenix-feather > img {
    position: absolute;
    width: 100%;
    height: auto;
    min-height: 100%;
    overflow: hidden;
    display: none;
}

.phoenix-slider h2 {
    padding-top: 10px;
    padding-bottom: 0;
    text-align: center;
}

.phoenix-slider p {
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.container-dots-wrapper {
    position: absolute;
    top: 0;
    right: 10px;
    height: 100%;
    z-index: 9;
}

.container-dots-inner {
    display: table;
    height: 100%;
}

.dots {
    display: table-cell;
    vertical-align: middle;
    list-style: none;
    margin: 0;
    padding: 0;
}

.dots li {
    width: 10px;
    height: 10px;
    margin: 0 4px 7px 4px;
    text-indent: -999em;
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    opacity: .5;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    -webkit-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .5));
    -moz-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .5));
    -ms-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .5));
    -o-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .5));
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .5));
}

.dots li.active {
    width: 11px;
    height: 11px;
    background: #fff;
    border: 2px solid #fff;
    left: 8px;
    opacity: 1;
}

.transparent {
    background: rgba(255, 255, 255, 0.4);
    color: black;
    z-index: 1;
    display: block;
    bottom: 0;
    position: absolute;
}

#presentation{
    color:#1b3575;
    background-color: #d0e9fa !important;
    margin-bottom: 0px !important;
    
}

.navbar-toggle .icon-bar {
    border-bottom-color: white;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-left-color: white;
    border-right-color: white;
    border-top-color: white;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
    border: 1px solid white !important;
}
/*.image {
    position: relative;
    background-image: url(../media/div3.jpg);
    background-repeat: no-repeat;
    background-size: auto 600px;
    background-attachment: fixed;
        -webkit-background-image: url(../media/div3.jpg);
    -webkit-background-repeat: no-repeat;
    -webkit-background-size: auto 600px;
    -webkit-background-attachment: fixed;
        -moz-background-image: url(../media/div3.jpg);
    -moz-background-repeat: no-repeat;
    -moz-background-size: auto 600px;
    -moz-background-attachment: fixed;
        -ms-background-image: url(../media/div3.jpg);
    -ms-background-repeat: no-repeat;
    -ms-background-size: auto 600px;
    -ms-background-attachment: fixed;
        -o-background-image: url(../media/div3.jpg);
    -o-background-repeat: no-repeat;
    -o-background-size: auto 600px;
    -o-background-attachment: fixed;
}*/


/*.page-header-out {
     width:100%;
     height:100%;
     position:absolute;
     top:0;
     left:0;
     transition: 1s;
     visibility:hidden;
        margin: 0px;
    padding: 0px;
    background-image: url(../media/div3.jpg);
    background-size: 100% 500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
        -webkit-background-image: url(../media/div3.jpg);
    -webkit-background-size: 100% 500px;
    -webkit-background-repeat: no-repeat;
    -webkit-background-attachment: fixed;
    -webkit-z-index: -1;
        -moz-background-image: url(../media/div3.jpg);
    -moz-background-size: 100% 500px;
    -moz-background-repeat: no-repeat;
    -moz-background-attachment: fixed;
    -moz-z-index: -1;
        -ms-background-image: url(../media/div3.jpg);
    -ms-background-size: 100% 500px;
    -ms-background-repeat: no-repeat;
    -ms-background-attachment: fixed;
    -ms-z-index: -1;
        -o-background-image: url(../media/div3.jpg);
    -o-background-size: 100% 500px;
    -o-background-repeat: no-repeat;
    -o-background-attachment: fixed;
    -o-z-index: -1;
    position: relative;
    height: 500px;
    width: 100%;

}*/


/*.logo img {
    -webkit-z-index: 0;
    -moz-z-index: 0;
    -o-z-index: 0;
    -ms-z-index: 0;
    z-index: 0;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 33.7%;
    margin-top: -25px;
    left: 50%;
    margin-left: -25px;
}*/


/*header {
    -webkit-border-bottom-style: dotted;
    -moz-border-bottom-style: dotted;
    -o-border-bottom-style: dotted;
    -ms-border-bottom-style: dotted;
    border-bottom-style: dotted;
}*/

.header-text {
    position: relative;
    top: 38.7%;
}

.header-text h2,
.header-text p {
    color: #6b909a;
}

#line {
    width: 500px;
    height: 10px;
    border-bottom: 1px #1b3575 solid;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    
}

.jumbotron {
    background-color: white !important;
}

#jumboparr {
    width: 500px;
    font-size: 12px;
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
}



.navbar-brand {
    padding-top: 10px !important;
    padding-bottom: 0;
}

.navbar-brand img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}


.blueNav{
    background-color: #1b3575 !important;
}
.nav li a {
    color: white !important;
    font-weight:bold;
    font-size: 14px;
    
}

.nav li {
    display: inline-block !important;
    float: none !important;
    
    
}

.nav li a:hover {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    background-color: rgba(107, 144, 154, 0.6) !important;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}


.center {
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
    text-align: center !important;
    border-bottom: 1px solid white;
}

.picture-box,
.picture-box h3 {
    background-color: #1b3575 !important;
    color: white;
    margin: 0 !important;
}

.img-picture-box {
    width: 100px;
    height: 100px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 30px;
    margin-bottom: 30px;
}

.ul-picture-box {
    padding-left: 0px !important;
    margin-top: 15px;
    text-decoration: none;
    list-style: none;
}

.ul-picture-box li {
    color: white;
}

.icon-distance {
    margin-right: 30px;
}

.developer {
    margin: 0 !important;
    padding: 0 !important;
    padding-bottom: 60px !important;
        color:#193270 !important;
    background-color: #d0e9fa !important;
}

#tuerca {
    width: 300px;
    margin-left: 39%;
    -webkit-animation-name: rotateThis;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotateThis;
    -moz-animation-duration: 10s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -o-animation-name: rotateThis;
    -o-animation-duration: 10s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    -ms-animation-name: rotateThis;
    -ms-animation-duration: 10s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: rotateThis;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-webkit-keyframes rotateThis {
    from {
        -webkit-transform: scale(0.5) rotate(0deg);
    }
    to {
        -webkit-transform: scale(0.5) rotate(360deg);
    }
}

@-webkit-keyframes rotateThis2 {
    from {
        -webkit-transform: scale(0.5) rotate(360deg);
    }
    to {
        -webkit-transform: scale(0.5) rotate(0deg);
    }
}

@-moz-keyframes rotateThis {
    from {
        -moz-transform: scale(0.5) rotate(0deg);
    }
    to {
        -moz-transform: scale(0.5) rotate(360deg);
    }
}

@-moz-keyframes rotateThis2 {
    from {
        -moz-transform: scale(0.5) rotate(360deg);
    }
    to {
        -moz-transform: scale(0.5) rotate(0deg);
    }
}

@-o-keyframes rotateThis {
    from {
        -o-transform: scale(0.5) rotate(0deg);
    }
    to {
        -o-transform: scale(0.5) rotate(360deg);
    }
}

@-o-keyframes rotateThis2 {
    from {
        -o-transform: scale(0.5) rotate(360deg);
    }
    to {
        -o-transform: scale(0.5) rotate(0deg);
    }
}

@-ms-keyframes rotateThis {
    from {
        -ms-transform: scale(0.5) rotate(0deg);
    }
    to {
        -ms-transform: scale(0.5) rotate(360deg);
    }
}

@keyframes rotateThis {
    from {
        transform: scale(0.5) rotate(0deg);
    }
    to {
        transform: scale(0.5) rotate(360deg);
    }
}

@-ms-keyframes rotateThis2 {
    from {
        -ms-transform: scale(0.5) rotate(360deg);
    }
    to {
        -ms-transform: scale(0.5) rotate(0deg);
    }
}

@keyframes rotateThis2 {
    from {
        transform: scale(0.5) rotate(360deg);
    }
    to {
        transform: scale(0.5) rotate(0deg);
    }
}

#tuerca2 {
    width: 300px;
    margin-left: -178px;
    margin-top: 43px;
    -webkit-animation-name: rotateThis2;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotateThis2;
    -moz-animation-duration: 10s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -o-animation-name: rotateThis2;
    -o-animation-duration: 10s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    -ms-animation-name: rotateThis2;
    -ms-animation-duration: 10s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: rotateThis2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.developer h2 {
    margin-top: -50px;
    color:#193270 !important;
}


.capa p {
    font-size: 10px !important;
    text-align: left;
    
}

.slide {
    margin-top: 30px;
}

.capa:hover {
    background-color: rgba(25, 50, 112, 0.6);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.contactus {
    background-color: #1a3473 !important;
    height: 100% !important;
    margin-left: -1px !important;
    margin-right: 0px !important;
    width: 100% !important;
}

.contactus h2 {
    margin-bottom: 60px;
    margin-top: 40px;
}

.contactus h2,
label {
    color: white !important;
}

.form-control:focus {
    border-color: white !important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px #bfbfbf 0 0 8px white !important;
    -moz-box-shadow: inset 0 1px 1px #bfbfbf, 0 0 8px white !important;
    -o-box-shadow: inset 0 1px 1px #bfbfbf, 0 0 8px white !important;
    -ms-box-shadow: inset 0 1px 1px #bfbfbf, 0 0 8px white !important;
    box-shadow: inset 0 1px 1px #bfbfbf, 0 0 8px white !important;
}

.slider-mark {
    background-color: #1c3676  !important;
    color: white;
    width: 100%;
    margin: 0 !important;
}

.slider-brand {
    margin: 0 auto !important;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    -webkit-display: flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
    -webkit-list-style-type: none;
    -moz-display: flex;
    -moz-flex-direction: row;
    -moz-justify-content: center;
    -moz-list-style-type: none;
    -o-display: flex;
    -o-flex-direction: row;
    -o-justify-content: center;
    -o-list-style-type: none;
    -ms-display: flex;
    -ms-flex-direction: row;
    -ms-justify-content: center;
    -ms-list-style-type: none;
}

.slider-brand li.html img,
.slider-brand li.css img,
.slider-brand li.js img,
.slider-brand li.jq img,
.slider-brand li.java img {
    height: 150px !important;
    width: 100px !important;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.slider-brand li.csharp img {
    height: 150px !important;
    width: 130px !important;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.slider-brand li.oracle img {
    width: 150px !important;
    height: 40px !important;
    margin-right: 50px;
    margin-top: 100px;
    margin-bottom: 80px;
}

.slider-brand li.mongo img {
    width: 150px !important;
    height: 50px !important;
    margin-right: 50px;
    margin-top: 100px;
    margin-bottom: 80px;
}

.slider-brand li.php img {
    width: 200px !important;
    height: 170px !important;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.slider-brand li.node img {
    width: 200px !important;
    height: 80px !important;
    margin-right: 50px;
    margin-top: 80px;
    margin-bottom: 100px;
}

.slider-brand li.mysql img {
    width: 160px !important;
    height: 100px !important;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.slider-brand li.sql img {
    width: 170px !important;
    height: 110px !important;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 140px;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li.slider {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li.slider:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}

#tech-slideshow {
    height: 200px;
    position: relative;
    overflow: hidden;
}

#tech-slideshow > div {
    height: 200px;
    width: 2526px;
    background: url(http://cl.ly/9BJG/collage.jpg);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    -moz-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    -webkit-animation: moveSlideshow 60s linear infinite;
    -moz-animation: moveSlideshow 60s linear infinite;
}

@-webkit-keyframes moveSlideshow {
    0% {
        left: 0;
    }
    100% {
        left: -1684px;
    }
}

@-o-keyframes moveSlideshow {
    0% {
        left: 0;
    }
    100% {
        left: -1684px;
    }
}

@-ms-keyframes moveSlideshow {
    0% {
        left: 0;
    }
    100% {
        left: -1684px;
    }
}

@-moz-keyframes moveSlideshow {
    0% {
        left: 0;
    }
    100% {
        left: -1684px;
    }
}

.aboutus {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #d0e9fa !important;
    color:#1b3575 !important;
}

.cuadro {
    border: 1px solid #1a3473;
    margin-top: 60px;
}

#line2 {
    border-top: 1px solid #1a3473;
    padding-top: 30px;
    margin-bottom: 50px;
}

.social img {
    width: 50px;
    margin-top: 60px;
}

.social {
    -webkit-display: flex;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-display: flex;
    -moz-flex-flow: row wrap;
    -moz-justify-content: center;
    -o-display: flex;
    -o-flex-flow: row wrap;
    -o-justify-content: center;
    -ms-display: flex;
    -ms-flex-flow: row wrap;
    -ms-justify-content: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.social li {
    margin-right: 20px;
}

.mar {
    padding-left: 0px !important;
}

.text {
    padding: 0px 5px;
    font-weight: bold;
    position: absolute;
    top: 27%;
    color: #1a3473;
    font-size: 8pt;
    background-color: rgba(152, 186, 202, 0.8);
    width: 272px;
    height: 30%;
    text-align: left;
    z-index: 10;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 10;
    -moz-z-index: 10;
    -ms-z-index: 10;
    -o-z-index: 10;
}

.text h3 {
    text-align: center;
}

.text:hover {
    -moz-opacity: 1;
    -webkit-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    opacity: 1;
}

.social {
    margin-bottom: 50px;
}

.social li img {
    z-index: 1;
    -moz-z-index: 1;
    -ms-z-index: 1;
    -o-z-index: 1;
}

.partner {
    background-color: #1a3473 !important;
}

.partner img.dell {
    width: 100px;
}

.partner img.amazon {
    width: 200px;
    padding-top: 35px;
}

.partner img.wal {
    width: 250px;
    padding-top: 20px;
}

.partner img.epson {
    width: 200px;
    padding-top: 30px;
}

.partner img.sony {
    width: 250px;
    padding-top: 30px;
}

.partner img.fedex {
    width: 200px;
    padding-top: 15px;
}

.partner img.neox {
    width: 200px;
    padding-top: 23px;
}

#carousel-demo1 ul li {
    padding-bottom: 50px;
}

#carousel-demo1 ul li img {
    margin-right: 100px;
}

#map {
    width: 100%;
    max-width: 100%;
    height: 500px;
    float: left;
    z-index: 3;
    -moz-z-index: 3;
    -ms-z-index: 3;
    -o-z-index: 3;
    margin: 0 15px;
}

#capa {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 500px;
    margin: 0px 15px;
    padding: 0;
    z-index: 3;
}

.superpost {
    z-index: 10;
    -ms-z-index: 10;
    -moz-z-index: 10;
    -ms-z-index: 10;
    -o-z-index: 10;
    position: absolute;
    left: calc(100%/2 - 2*2.9%);
    margin-top: 50px;
    color:#1a3473;
}

.gmaping {
    position: relative;
}

.signin {
    border-radius: none !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    -ms-border-radius: none !important;
    background-color: #d0e9fa !important;
    float: left;
    margin-bottom: 50px !important;
    color:#1a3473 !important;
}

.form-control {
    border-radius: 0!important;
}

.details {
    color: #6b909a;
}

footer {
    background-color: #1b3573 !important;
    max-width: 100%;
    color:white !important;
}

footer h3 {
    
    padding-top: 68px;
    margin-bottom: 20px;
    margin-top: 0 !important;
}

footer img {
    width: 50px;
    margin-bottom: 50px;
}

.footerDiv {
    border-top: 1px solid white;
}

.nav-footer ul li, .nav-footer ul li a{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    color:white !important;
    font-size: 8pt;
    margin-top: 10px
}

.address img {
    width: 100px;
}

body {
    padding-top: 0;
}

.navbar-inverse {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    border: none;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
    color: black;
    font-weight: bold;
}

.jumbotron {
    padding: 0;
    margin: 0;
}

.logo img {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 50px;
    height: 50px;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img {
    width: 100%;
    height: 500px;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a:hover {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
}

.container {
    padding: 0;
    margin: 0;
    width: 100%;
    /*border-bottom-style:dotted;*/
}

.text h1 {
    color: white;
    width: auto;
    position: absolute;
    top: 30%;
    left: 40%;
}

.parrafo p {
    color: white;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    left: 27%;
}

.row-centered {
    text-align: center;
}

.col-centered {
    margin: 0 auto;
    z-index: 1;
}

.text-contact {
    padding: 50px;
    border: 1px solid white;
}

.scroll-top {
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
    background-image: url(/media/botom-scroll.png);
    position: absolute;
    display: block;
    z-index: 100;
    top: 90%;
    left: calc(100%/2 - 2*0.3%);
}


/*
.circleSkill {
    background: white !important;
    -moz-border-radius: 70px; 
   -webkit-border-radius: 70px; 
   border-radius: 70px;
}
*/

.address {
    color: #1a3473;
    background-color: #d0e9fa !important;
}

@media (max-width: 1314px) {

    #foo p#preText{
        font-size: 3em;
    }
    #foo p#titlePage{
        font-size: 5em;
    }
    #foo p#resume{
        font-size: 1em;
    }
}

@media (max-width: 1150px) {

    #foo{display: none;}
}

@media(max-width: 767px){
    .ul-picture-box{
        margin-bottom: 30px;
    }
    
           .developer img{
            display: none;
        }
    section.developer h2{
        padding-top: 50px;
    }
    #technologies{
        display: none;
    }
    
    .aboutus{
        background-color: #d0e9fa !important;
     
    }
    .row{
        margin: 0 !important;
        padding: 0 !important;
    }
    
    .aboutus img{
        margin-left: auto !important;
        margin-right: auto !important;
        display: block;
    }
    
    .aboutus~p{
        text-align: center;
        color:white !important;
    }
    
    span.text{
        display:none;
    }
    
    
    textarea.form-control{
        margin-bottom: 50px;
    }
    
    .gmaping{
        display:none;
    }
    
    footer{
        
        background-color: #d0e9fa !important;
        color:#1a3473 !important;
    }
    footer ul.pull-right li a, div.col-md-4 p{
      color:#1a3473 !important;  
    }
    .footerDiv {
    border-top: 1px solid #1a3473 !important;
}

}

@media (max-width: 903px){
    .nav-toggle{
        display: block;
    }
    .navbar-collapse{display:none;}
    .aboutus{
        background-color: #d0e9fa !important;
     
    }
    .row{
        margin: 0 !important;
        padding: 0 !important;
    }
    
    .aboutus img{
        margin-left: auto !important;
        margin-right: auto !important;
        display: block;
    }
    
    .aboutus~p{
        text-align: center;
        color:white !important;
    }
    
    span.text{
        display:none;
    }
    
}
@media (max-width: 991px){
    .capa, .capa p{
        text-align: center !important;
    }
     .aboutus img{
        margin-left: auto !important;
        margin-right: auto !important;
        display: block;
    }
    
    .aboutus~p{
        text-align: center;
        color:white !important;
    }
    
    span.text{
        display:none;
    }
    
    #line2{
        margin-left: 15px;
    }
    
}

